<footer id="main-footer" class="bg-dark text-white mt-5 p-5">
    <div class="container">
      <div class="row">
        <div class="col">
            <h3 class="lead text-center">Lagos State University</h3>
          <p class="lead text-center">
            Copyright &copy;
            <span id="year"></span>
            Lams
          </p>
        </div>
      </div>
    </div>
  </footer>