<div class="modal fade" id="addPostModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Request for a Leave</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/leave" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="title">Duration</label>
              <input type="text" name="duration" class="form-control">
              <small class="form-text text-muted">Duration in days</small>
            </div> 
            <div class="form-group">
              <label for="category">Category</label>
              <select name="category" class="form-control">
                <option>Sick Leave</option>
                <option>Maternity Leave</option>
                <option>Normal Leave</option>
                <option>Health & Wellness</option>
              </select>
            </div>
            <div class="form-group">
                <input type="hidden" name="_csrf" value="<%= csrf %>">
              <label for="document">Upload Document</label>
              <input type="file" name="document" id="document">
              <small class="form-text text-muted">Max Size 3mb!</small>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>