<%- include('./includes/head.ejs')%>
</head>

<body>
  <%- include('./includes/navbar.ejs') %>

  <!-- HEADER -->
  <header id="home-section" class="my-5 text-center">
        <div class="dark-overlay">
          <div class="home-inner container ">
          <div class="row ">
              <div class="col offset-md-1 ">
                  <h5 class="display-2 text-center">Page Not Found</h5>
              </div>
          </div>
        
      </div>
    </div>
  </header>



  </section>

 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>

</body>
 <!-- FOOTER -->
 <%- include('./includes/footer.ejs') %>



 <!-- End Script -->
 <%- include('./includes/end.ejs') %>

</html>